<h1>Memory Game</h1>
<button (click)="startGame()" *ngIf="!gameStarted">Start Game</button>
<div class="card-grid" *ngIf="gameStarted">
  <ng-container *ngFor="let card of cards">
    <div
      class="card"
      [class.flipped]="card.flipped"
      [class.selected]="card.selected"
      (click)="selectCard(card)"
    >
      <div class="card-content">
        <div class="card-front" *ngIf="card.flipped || card.selected">
          {{ card.emoji }}
        </div>
      </div>
    </div>
  </ng-container>
</div>

<button (click)="resetGame()" *ngIf="gameOver">Play Again</button>
